DB_NAME=blog
DB_USER=postgres
DB_PASS=123456
DB_HOST=localhost
DB_PORT=5432

TELEGRAM_BOT_TOKEN=1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZ
TELEGRAM_CHAT_ID=1234567890

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,my-blog.com,12.34.567.890

GOOGLE_ANALYTICS_ID=G-1234567890
GOOGLE_TAG_MANAGER_ID=GTM-A1B2C3D4
