{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="404page" class="404page mb-5" style="align-items: center;justify-content: center;text-align: center;">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <div class="col-lg-6 offset-3">
                <div class="post-entry-1 lg mb-0" style="margin-top: 100px;">
                    <img src="{% static 'assets/img/403.png' %}" alt="" style="height: 100%;width: 100%;margin: 0;">
                    <h3>Forbidden (403)</h3>
                    <p class="mb-4 d-block">
                        We couldn't find the page you were looking for.
                    </p>
                    <a class="btn btn-outline-primary" href="{% url 'main' %}">Go to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
