{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}
{% load static %}

{% block content %}
<section id="500page" class="500page mb-5" style="align-items: center;justify-content: center;text-align: center;">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="post-entry-1 lg mb-0" style="margin-top: 100px;">
                    <img src="{% static 'assets/img/500.jpg' %}" alt="" style="height: auto;width: 80%;margin: 0;">
                    <h3>Server error (500)</h3>
                    <p class="mb-4 d-block">
                        {% trans "Oops! Something went wrong on our end. We're working to fix the issue. Please try again later or contact with us"|safe %} <b>{% contact_email %}</b>
                    </p>
                    <a class="btn btn-outline-primary" href="{% url 'main' %}">{% trans "Go home" %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
