{% load custom_filters %}
{% load i18n %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'assets/css/theme-switcher.css' %}">
<style>
    h1.logo-text {
    font-size: 24px;
    }

    @media screen and (max-width: 767px) {
        h1.logo-text {
            font-size: 18px;
        }
    }
</style>
{% endblock extra_styles %}

{% get_current_language as current_language %}

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{% url 'main' %}" class="logo d-flex align-items-center">
            <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
            <h1 class="logo-text">Cho'girmali Blog</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                <li><a href="{% url 'resume' %}">{% trans "Resume" %}</a></li>
            </ul>
        </nav>

        <div class="position-relative d-flex align-items-center">
            <div class="dropdown" style="margin-right: 10px;" id="languageDropdownContainer">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {% if current_language == 'en' %} {% trans "english" %} {% else %} {% trans "uzbek" %} {% endif %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li><a class="dropdown-item" href="" data-language="en">{% trans "english" %}</a></li>
                    <li><a class="dropdown-item" href="" data-language="uz">{% trans "uzbek" %}</a></li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="input-group d-flex align-items-center mb-0">
                    <label class="switch theme-switch">
                        <input type="checkbox" checked="" id="themeSwitch">
                        <span class="slider"></span>
                    </label>
                </li>
            </ul>

            <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <div class="search-form-wrap js-search-form-wrap">
                <form id="searchForm" class="search-form" method="get" action="{% url 'search' %}">
                    <span class="icon bi-search"></span>
                    <input type="text" name="query" id="searchQuery" placeholder="{% trans 'Search' %}" class="form-control" value="{{ query }}">
                    <button type="submit" class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div>
        </div>
    </div>
</header>

{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (window.location.pathname === '/') {
            const defaultLanguage = localStorage.getItem("languageCode")
            if (defaultLanguage) {
                window.location.href = `/${defaultLanguage}/`;
            } else {
                // Redirect to the default language URL
                window.location.href = "/{{ current_language }}/";
                localStorage.setItem("languageCode", "{{ current_language }}");
            }
        }

        // Check if the user has a theme preference saved in local storage
        const isDarkMode = localStorage.getItem("darkMode") === "true";

        // Set the initial theme based on the user's preference
        setTheme(isDarkMode);

        // Set the initial state of the switch
        const themeSwitch = document.getElementById("themeSwitch");
        themeSwitch.checked = isDarkMode;

        // Add an event listener to the theme switch
        themeSwitch.addEventListener("change", function () {
            // Toggle the theme on switch change
            const isDarkMode = this.checked;
            setTheme(isDarkMode);
            // Save the theme preference in local storage
            localStorage.setItem("darkMode", JSON.stringify(isDarkMode));
        });

        // Add an event listener to the search input for the "Enter" key press
        const searchInput = document.getElementById("searchQuery");
        searchInput.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("searchForm").submit();
            }
        });

        function setTheme(isDarkMode) {
            const themeStyleLink = document.getElementById("theme-style");
            const markdownStyleLink = document.getElementById("markdown-theme");

            // Update the link to the appropriate CSS file
            themeStyleLink.href = isDarkMode ? "{% static 'assets/css/dark-mode.css' %}" : "{% static 'assets/css/light-mode.css' %}";
            markdownStyleLink.href = isDarkMode ? "{% static 'assets/css/markdown-dark.css' %}" : "{% static 'assets/css/markdown-light.css' %}";

            isDarkMode
                ? document.body.classList.add("dark-content")
                : document.body.classList.remove("dark-content");
        }

        const languageDropdownContainer = document.getElementById("languageDropdownContainer");

        // Add an event listener to the language dropdown items
        languageDropdownContainer.addEventListener("click", function (event) {
            const target = event.target;

            // Check if the clicked element is a dropdown item
            if (target.classList.contains("dropdown-item")) {
                event.preventDefault();

                // Get the language code from the data-language attribute
                const languageCode = target.getAttribute("data-language");

                // Update the URL with the new language code
                const currentUrl = window.location.href;
                const updatedUrl = updateUrlLanguage(currentUrl, languageCode);

                // Redirect to the updated URL
                window.location.href = updatedUrl;
                localStorage.setItem("languageCode", languageCode);
            }
        });

        function updateUrlLanguage(url, newLanguage) {
            // Extract the current language code from the URL
            const languageMatch = url.match(/\/(en|uz)\//i);

            if (languageMatch && languageMatch[1]) {
                const currentLanguage = languageMatch[1];

                // Replace the current language code with the new language code
                const updatedUrl = url.replace(`/${currentLanguage}/`, `/${newLanguage}/`);
                return updatedUrl;
            }

            return url;
        }
    });
</script>
{% endblock extra_scripts %}
