{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<style>
    .container .row img.post-img {
        width: auto;
        height: 50%;
    }

    .container .row div {
        max-height: 300px;
    }

    @media (max-width: 1279px) {
        .container .row img.post-img {
            width: 50%;
            height: auto;
        }

        .container .row div {
            max-height: 500px;
        }
    }
</style>
{% endblock extra_styles %}

{% block content %}
<main id="main">
    <section style="overflow: scroll;">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-12 mx-auto mb-3" data-aos="fade-up">
                    <div class="mb-3">
                        <div class="row g-0">
                            <div class="col-md-6 text-sm-center">
                                <img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'assets/img/no-image.jpeg' %}{% endif %}"
                                    alt="{{ post.formatted_title|striptags|safe }}"
                                    title="{{ post.formatted_title|striptags|safe }}" class="post-img img-fluid"
                                />
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="post-meta">
                                        <span class="date">{{ post.updated_at|date }}</span>
                                    </div>
                                    <h3 class="card-title">{{ post.formatted_title|safe|truncatechars:40 }}</h3>
                                    <p class="card-text">
                                        {{ post.formatted_content|safe|truncatechars:100 }}
                                    </p>
                                    <a href="{% url 'post-detail' post.pk %}"
                                        class="btn btn-outline-primary d-block mt-auto">To'liq o'qish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                {% include 'includes/no-content.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}
