{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<style>
  .container .row img.post-img {
    width: auto;
    height: 50%;
  }

  @media (max-width: 1279px) {
    .container .row img.post-img {
      width: 50%;
      height: auto;
    }
  }
</style>
{% endblock extra_styles %}

{% block content %}
  <main id="main">
    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 post-content" data-aos="fade-up">
            <div class="single-post markdown-body">
              <figure class="my-4 text-center">
                <img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'assets/img/no-image.jpeg' %}{% endif %}" alt="{{ post.formatted_title|striptags|safe }}" title="{{ post.formatted_title|striptags|safe }}" class="img-fluid post-img">
              </figure>
              <div class="post-meta">
                <!-- <span class="date">Business</span>
                <span class="mx-1">&bullet;</span> -->
                <span class="date">{{ post.updated_at|date }}</span>
              </div>
              <h1 class="mb-5">{{ post.formatted_title|safe }}</h1>
              <p>{{ post.formatted_content|safe }}</p>
            </div>

            {% comment %}
              <div class="comments">
                <h5 class="comment-title py-4">2 Comments</h5>
                <div class="comment d-flex mb-4">
                  <div class="flex-shrink-0">
                    <div class="avatar avatar-sm rounded-circle">
                      <img class="avatar-img" src="assets/img/person-5.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-2 ms-sm-3">
                    <div class="comment-meta d-flex align-items-baseline">
                      <h6 class="me-2">Jordan Singer</h6>
                      <span class="text-muted">2d</span>
                    </div>
                    <div class="comment-body">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non minima ipsum at amet doloremque qui magni, placeat deserunt pariatur itaque laudantium impedit aliquam eligendi repellendus excepturi quibusdam nobis esse accusantium.
                    </div>

                    <div class="comment-replies bg-light p-3 mt-3 rounded">
                      <h6 class="comment-replies-title mb-4 text-muted text-uppercase">2 replies</h6>

                      <div class="reply d-flex mb-4">
                        <div class="flex-shrink-0">
                          <div class="avatar avatar-sm rounded-circle">
                            <img class="avatar-img" src="assets/img/person-4.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                        <div class="flex-grow-1 ms-2 ms-sm-3">
                          <div class="reply-meta d-flex align-items-baseline">
                            <h6 class="mb-0 me-2">Brandon Smith</h6>
                            <span class="text-muted">2d</span>
                          </div>
                          <div class="reply-body">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                          </div>
                        </div>
                      </div>
                      <div class="reply d-flex">
                        <div class="flex-shrink-0">
                          <div class="avatar avatar-sm rounded-circle">
                            <img class="avatar-img" src="assets/img/person-3.jpg" alt="" class="img-fluid">
                          </div>
                        </div>
                        <div class="flex-grow-1 ms-2 ms-sm-3">
                          <div class="reply-meta d-flex align-items-baseline">
                            <h6 class="mb-0 me-2">James Parsons</h6>
                            <span class="text-muted">1d</span>
                          </div>
                          <div class="reply-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore sed eos sapiente, praesentium.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="comment d-flex">
                  <div class="flex-shrink-0">
                    <div class="avatar avatar-sm rounded-circle">
                      <img class="avatar-img" src="assets/img/person-2.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="flex-shrink-1 ms-2 ms-sm-3">
                    <div class="comment-meta d-flex">
                      <h6 class="me-2">Santiago Roberts</h6>
                      <span class="text-muted">4d</span>
                    </div>
                    <div class="comment-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto laborum in corrupti dolorum, quas delectus nobis porro accusantium molestias sequi.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center mt-5">

                <div class="col-lg-12">
                  <h5 class="comment-title">Leave a Comment</h5>
                  <div class="row">
                    <div class="col-lg-6 mb-3">
                      <label for="comment-name">Name</label>
                      <input type="text" class="form-control" id="comment-name" placeholder="Enter your name">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label for="comment-email">Email</label>
                      <input type="text" class="form-control" id="comment-email" placeholder="Enter your email">
                    </div>
                    <div class="col-12 mb-3">
                      <label for="comment-message">Message</label>

                      <textarea class="form-control" id="comment-message" placeholder="Enter your name" cols="30" rows="10"></textarea>
                    </div>
                    <div class="col-12">
                      <input type="submit" class="btn btn-primary" value="Post comment">
                    </div>
                  </div>
                </div>
              </div>
            {% endcomment %}

            <!-- Previous and Next buttons -->
            <div class="row mt-4">
              <div class="col-6">
                {% if previous_post %}
                  <a href="{% url 'post-detail' previous_post.pk %}" class="btn btn-secondary">&laquo; Previous</a>
                {% endif %}
              </div>
              <div class="col-6 text-end">
                {% if next_post %}
                  <a href="{% url 'post-detail' next_post.pk %}" class="btn btn-secondary">Next &raquo;</a>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
