{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}
{% load static %}

{% block extra_styles %}
<style>
  .container .row img.post-img {
    width: auto;
    height: 50%;
  }

  @media (max-width: 1279px) {
    .container .row img.post-img {
      width: 50%;
      height: auto;
    }
  }
</style>
{% endblock extra_styles %}

{% block content %}
  <main id="main">
    <section id="search-result" class="search-result">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row mb-5">
              <div class="col-md-12">
                  <form id="searchForm" class="search-form" method="get" action="{% url 'search' %}">
                    <input type="text" name="query" id="searchQuery" value="{{ query }}" placeholder="{% trans 'Search' %}" class="form-control">
                  </form>
              </div>
            </div>

            {% for result in results %}
              <div class="d-md-flex post-entry-2 small-img">
                <div class="post-meta">
                  <!-- <span class="date">Business</span>
                  <span class="mx-1">&bullet;</span> -->
                  <span class="date">{{ result.updated_at|date }}</span>
                </div>
                <p><a href="{% url 'post-detail' result.pk %}">{{ result.content|markdown|truncatechars:100 }}</a></p>
              </div>
            {% empty %}
              {% include 'includes/no-content.html' %}
            {% endfor %}

          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
