{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<style>
  .container .row img.post-img {
    width: auto;
    height: 50%;
  }

  @media (max-width: 1279px) {
    .container .row img.post-img {
      width: 50%;
      height: auto;
    }
  }
</style>
{% endblock extra_styles %}

{% block content %}
  <main id="main">
    <section id="search-result" class="search-result">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row mb-5">
              <div class="col-md-12">
                  <form id="searchForm" class="search-form" method="get" action="{% url 'search' %}">
                    <input type="text" name="query" id="searchQuery" value="{{ query }}" placeholder="Search" class="form-control">
                  </form>
              </div>
            </div>

            {% for result in results %}
              <div class="d-md-flex post-entry-2 small-img">
                <div class="me-4 thumbnail text-sm-center">
                  <img src="{% if result.image %} {{ result.image.url }} {% else %} {% static 'assets/img/no-image.jpeg' %} {% endif %}" alt="{{ result.formatted_title|safe }}" title="{{ result.formatted_title|safe }}" class="post-img img-fluid">
                </div>
                <div>
                  <div class="post-meta">
                    <!-- <span class="date">Business</span>
                    <span class="mx-1">&bullet;</span> -->
                    <span class="date">{{ result.updated_at|date }}</span>
                  </div>
                  <h3><a href="{% url 'post-detail' result.pk %}">{{ result.formatted_title|safe|truncatechars:40 }}</a></h3>
                  <p>{{ result.formatted_content|safe|truncatechars:100 }}</p>
                </div>
              </div>
            {% empty %}
              {% include 'includes/no-content.html' %}
            {% endfor %}

          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
