{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <main id="main">
    <section id="contact" class="contact mb-5">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h3>{% trans "Contact me with" %} </h3>
          </div>
        </div>

        <div class="row gy-4">
          <div class="col-md-4">
            <div class="info-item">
              <i class="bi bi-linkedin"></i>
              <h3>Linkedin</h3>
              <p><a href="http://linkedin.com/in/jahongir-ibragimov/">Jahongir Ibragimov</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-item info-item-borders">
              <i class="bi bi-phone"></i>
              <h3>{% trans "Phone Number" %}</h3>
              <p><a href="tel:+998884564224">+998 (88) 456 42-24</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info-item">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:chogirmali.yigit@gmail.com">chogirmali.yigit@gmail.com</a></p>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-12 text-center mb-5">
            <h3>{% trans "or" %}</h3>
          </div>
        </div>

        <div class="form mt-4 text-center">
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6 mb-3">
                <input type="text" name="name" class="form-control" id="name" placeholder="{% trans 'Your Name' %}" required>
              </div>
              <div class="form-group col-md-6 mb-3">
                <input type="text" class="form-control" name="email_or_username" id="email" placeholder="{% trans 'Your Email or Telegram username' %}" required>
              </div>
            </div>
            <div class="form-group mb-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="{% trans 'Subject' %}" required>
            </div>
            <div class="form-group mb-3">
              <textarea class="form-control" name="message" rows="5" placeholder="{% trans 'Message' %}" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Send Message" %}</button>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
