{% load custom_filters %}
{% load i18n %}
{% load static %}


<section id="greetings" class="greetings" style="align-items: center; justify-content: center; text-align: center;">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="post-entry-1 lg text-center">
                    <img src="{% static 'assets/img/greetings-image.jpg' %}" alt="greetings image" class="img-fluid"
                        style="max-width: 50%; height: auto;">
                    <h1>{% trans "Welcome to Cho'girmali Blog!" %}</h1>
                    <p class="mb-4 d-block">{% trans "greetings message" %}
                    </p>
                    <a class="btn btn-outline-primary" href="{% url 'about' %}">{% trans "About more" %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
