{% extends 'base.html' %}
{% load i18n %}

{% block extra_styles %}
<style>
    @keyframes shake {

        0%,
        100% {
            transform: translateX(0);
        }

        25%,
        75% {
            transform: translateX(-10px);
        }

        50% {
            transform: translateX(10px);
        }
    }

    @keyframes countdown {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes progress {
        0% {
            width: 100%;
        }
        100% {
            width: 0;
        }
    }

    .handshake-animation {
        font-size: 16em;
        animation: shake 1s infinite;
        display: inline-block;
    }

    .countdown-animation {
        font-size: 2em;
        animation: countdown 1s infinite;
        display: inline-block;
    }

    .progress-bar-container {
        width: 100%;
        background-color: #eee;
        border-radius: 4px;
        overflow: hidden;
        margin-top: 10px;
    }

    .progress-bar {
        height: 20px;
        width: 100%;
        background-color: #3498db;
        animation: none;
        transition: width 0.5s ease;
    }
</style>
{% endblock extra_styles %}

{% block content %}
<section id="thanks-for-contacting" class="thanks-for-contacting mb-5" style="align-items: center;justify-content: center;text-align: center;">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <div class="col-lg-6 offset-3">
                <div class="post-entry-1 lg">
                    <div class="handshake-animation">&#129309;</div>
                    <h3>{% trans "Thanks for contacting me! I will contact you soon with your details if they are correct." %}</h3>
                    <p class="mb-4 d-block">
                        {% trans "You will be redirected to the main page after <span class='countdown-animation' id='countdown'>5</span> seconds. Note: If you don't get redirected, please click the button below."|safe %}
                    </p>
                    <a class="btn btn-outline-primary" href="{% url 'main' %}">{% trans "Go home" %}</a>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="progress-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_scripts %}
<script>
    // Redirect the user to the main page after 5 seconds
    var countdownElement = document.getElementById("countdown");
    var progressBar = document.getElementById("progress-bar");
    var countdownValue = 5;

    function updateCountdown() {
        countdownElement.textContent = countdownValue;
        countdownValue--;

        if (countdownValue < 0) {
            window.location.href = "{% url 'main' %}";
        }

        // Update progress bar width
        var progressPercentage = (countdownValue / 5) * 100;
        progressBar.style.width = progressPercentage + "%";
        progressBar.style.animation = "progress 5s linear";
    }

    setInterval(updateCountdown, 1000);
</script>
{% endblock extra_scripts %}
